/* CSS reset */
* {
    margin:0;
    padding:0;
}

html {
    font-size:16px;
    scroll-behavior: smooth;
    scroll-padding-top: 5em;
}

/* ... */

html, body {
    margin: 0;
    width:100%;
}

/*linear background over body*/
body {
    /*ADD CSS FROM GOOGLE FONT HERE TO APPLY TO WHOLE BODY*/
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
    background-image: url(./images/watercolor.webp);
}

header {
    position: fixed;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 0em 2em 0;
    margin-top: 0;
    padding-bottom: 10em;
}

.logo{
    height:80px;
    width:80px;
    padding:0px;
    margin-right:auto;
    cursor: pointer;
}

.navbar {
    list-style: none;
    margin-right:0em;
}

.navbar li {
    display:inline-block;
    padding: 0 30px;
}

.navbar li a {
    transition: all 0.3s ease 0s;
}

/* ... */

a:link {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: #000000;
}

.navbar li a:hover {
    transition: all 0.3s ease 0s;
    color: #0088a9;
}

/* ... */

/*
p {
    padding: 50em 0 50em 0;
}
*/

/* ... */

.area-x {
    margin: auto;
    padding: 20em 10em 50em 10em;
}

#text {
    padding: 0em 0em 50em 0em;
}

footer {
    margin: auto;
    margin-top: 10em;
    padding: 10em;
}

/* ... */

.square-loader {
    padding: 150px;
    margin: 250px;
    margin-bottom: 0em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.square-2 {
    background-color: red;
    width:5vw;
    height:5vw;
    border: 5px solid black;
    position: relative;
    animation: square-anime 2s linear infinite alternate-reverse;
}


@keyframes square-anime {
    100% {
        opacity: -0.25;
    }
}


