/* Reset CSS */
html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing:border-box;
}

/*Resposive image reset*/
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/**************************************************/

body {
    background-image: url('./images/analog_camera_3.JPG');
    background-repeat: repeat;
    width: 100vw;
    height: 100vh;
  
}

/*...*/
