body {
    background-image: url('./images-dithered/analog-1.png');
    background-size: cover;
    background-repeat: repeat;
    width: 100vw;
    height: 100vh;
  
}

/*...*/

nav {
    display: flex;
    flex: wrap;
    justify-content: space-between;
    align-items: center;
    width: 20vw;
    margin-left: 10vw;

}

nav {
    backdrop-filter: hue-rotate(270deg)  blur(2px);
    display: inline-flex;
    background-color: rgba(255,255,255,0.5);
    padding: 2px;
    border-radius:2em;
}


li {
    padding: 2px;
}

ul > li {
    color: midnightblue;
    filter: drop-shadow(0 0 1px blue);
    /* backdrop-filter: hue-rotate(240deg)  blur(5px);
   text-shadow: 2px 2px black; */
}

.top {
    margin: auto;
    margin-left: 1vh;
    margin-top: 0vh;
    padding: 2vw;
}
