/* ... */
/* Reset CSS */
html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing:border-box;
}

/* ... */
/*Resposive image reset*/
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* ... */
/* Link Style */
a {
    text-decoration: none;
}

a:hover {
    cursor: url('./images/cable-1.png'), pointer;
    transition: all 0.3s ease 0s;
    color: #0088a9;
}

/*...*/
/* List Style */

ul {
    list-style: none;
    width: auto;
    height: auto;
}

/* ... */
