/* Reset CSS */
html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing:border-box;
}

/*Resposive image reset*/
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/**************************************************/

body {
    background-image: url('./images/analog_camera_1.JPG');
    background-size: cover;
    background-repeat: repeat;
    width: 100vw;
    height: 100vh;
  
}

/*...*/

ul {
    list-style: none;
    width: auto;
    height: auto;
    
}

li {
    padding: 2px;
}

ul > li {
    color: midnightblue;
    filter: drop-shadow(0 0 1px blue);
    /* backdrop-filter: hue-rotate(240deg)  blur(5px);
   text-shadow: 2px 2px black; */
}

.top {
    margin: auto;
    margin-left: 10vh;
    margin-top: 0vh;
    padding: 2vw;
}

/*...*/

a {
    text-decoration: none;
}

a:hover {
    cursor: url('./images/cable-1.png'), pointer;
}
