/* Reset CSS */
html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing:border-box;
}

/*Resposive image reset*/
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* ... */

.libre-caslon-display-regular {
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18pt;
}


/* ... */

body {
    background-image: url('../images/analog-2.jpg');
    background-repeat: repeat;
    width: 100vw;
    height: 100vh;
  
}

.main {
    backdrop-filter: hue-rotate(240deg)  blur(2px);
    padding: 20px;
    margin: 5%;
    border-radius: 2em;
}

h1 {
    text-align: center;
}

/*.
 * flex-wrap: wrap;
 *  flex-direction: column;
 * ..*/

.three-columns {
    display: flex;
    align-content: space-between;
    margin: auto;
    padding: auto;
    padding-bottom:5em;
}

.three-columns > * {
    width: 100%;
    padding: 1rem;
    border: 1px black solid;
    text-align: center;

}

/* ... */

footer {
    margin: auto;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 2em;
}


/* ... */


@media (min-width:768px) {

    .three-columns > * {
        width: calc(100% / 3);

    }
}


@media (max-width:768px) {

 .three-columns {
        flex-wrap: wrap;
        flex-direction: column;
    }

}



/* ... */
